/*responsive desing*/

/*Desktop/laptop*/
@media screen and (max-width: 1200px){
	.news-text {
	top: 185px;
	padding: 84px 10px 15px;
	}.news-text h4 {
		font-size: 14px;
	}.news-text h4 a {
		font-size: 14px;
	}.f-hotel-overlay h3 {
		font-size: 21px;
	}.f-hotel-overlay p {
		font-size: 14px;
	}
}
@media screen and (max-width: 1140px){}
@media screen and (max-width: 1080px){

}


/*Tablets*/
@media screen and (max-width: 1024px){}
@media screen and (max-width: 991px){
	.toggle {
		display:block;
	}
	.navbar  li{
    	text-align:center;
   	 	border-bottom:1px solid #ddd ;
	}
	.banner-btn {
		max-width: 100%;
	}
	.navbar li:last-child{
	    border-bottom: unset;
	}
	.nav-item .btn-sty-1 {
		margin: 30px;
	}
	.banner-bg-img {
		height: 590px;
	}
	.banner-btn ul li a i {
		margin-right: 5px;
	}
	.banner-text h1 {
		font-size: 42px;
	}
	.banner-content {
		margin: 140px 0;
	}
	.header-top ul {
		display: unset !important;
	}
	h2 {
		margin-bottom: 28px;
		font-size: 34px;
	}
	.about-area .col-md-6 {
		width: 100%;
	}
	.room-overlay {
	padding: 10px;
	}
	.room-overlay .btn-sty-2 {
		width: 80%;
		margin-top: 10px;
	}
	.room-overlay p {
		font-size: 14px;
	}
	.video-area {
		padding: 140px 0;
	}
	.footer-items {
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 767px){
	.banner-btn ul li {
		width: 110px;
	}
	.banner-btn ul {
		flex-wrap: wrap;
	}
	.banner-btn ul li  {
		margin-bottom: 15px;
	}
	.banner-btn ul li a {
		font-size: 14px;
	}
	.single-service-items {
		text-align: center;
	}
	.room {
		margin: .8rem 0;
	}
	.banner-content {
		margin: 85px 0;
	}
	.banner-text {
		width: 100%;
	}
	.socket-area {
		text-align: center;
	}
	.socket-area .col-md-6:last-child p {
		 float: unset; 
	}
	.from-content form {
		display: flex;
	}
	.left-footer {
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 575px){
	.hero-area input[type="email"] {
		margin-bottom: 1rem;
	}
	.from-content form {
		display: unset;
	}
	.all-img-items {
		height: 180px;
	}
	.banner-text h1 {
		font-size: 33px ;
	}
	h2 {
		font-size: 26px;
	}
	h3{
		font-size:22px;
	}
	.header-top ul li {
		margin: .5rem 0;
	}

}
@media screen and (max-width: 480px){
	.video-area {
		padding: 70px 0;
	}
	.header-top ul li a {
		font-size: 14px;
	}.banner-content {
		margin: 50px 0;
	}
	.ab-img {
		width: 180px;
		height: 165px;
	}
	.ab-middle {
		top: 40px;
		left: 110px;
	}
	.ab-top {
		top: 100px;
	}
}